//variables

/* Color */
$bg-color:          #002b36;
$shadow-color:      #5D656C;


$white:             #fff;
$color0:            #fdf6e3;
$color1:            #F9F9F9;
$color11:           #839496;
$color2:            #268bd2;
$color3:            #cb4b16;
$color4:            #859900;
$color5:            #b58900;
$colorBlack:        #333;


$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;

//$yellow:    #b58900;
//$orange:    #cb4b16;
//$red:       #dc322f;
//$magenta:   #d33682;
//$violet:    #6c71c4;
//$cyan:      #2aa198;
//$green:     #859900;


/* Size */
$container-width:   902px;
$spine-width:       30px;