//variables

/* Color */
$bg-color:          #E7EBF2;
$shadow-color:      #5D656C;

$color0:            #fff;
$color1:            #ccc;
$color2:            #7f5959;
$color3:            #7f7f7f;
$color4:            #ffb2b2;



/* Size */
$container-width:   902px;
$spine-width:       30px;