@import "global.scss";
@import "compass/css3";

a{
  color:            $color2;
  &:visited{
    color:          shade($color2, 30);
  }
}

.page{
  margin:           0;
  padding:          0;
  font-family:      "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image: url('../images/subtle_dots.png');
}


.container {
  width:            $container-width;
  margin:           0 auto;
  padding:          0 20px;
}


/*
    Control panel & modal
*/
.absolute-container{
  position:         fixed;
  top:              0px;
  left:             50%;
  z-index:          100;

  &__control-panel{
    position:         absolute;
    width:            600px;
    margin-left:      -300px;

    text-align:       center;

    background:       rgba(0, 0, 0, 0.1);
    @include          box-shadow(
        rgba(0, 0, 0, 0.2) 0 2px 6px 0,
        rgba(0, 0, 0, 0.15) 0 2px 10px 0
      );
    border:           1px $color1 solid;
    border-width:     0 1px 1px 1px;
    @include          border-radius(0 0 5px 5px);
  }

  &__modal{
    position:         absolute;
    top:              100px;
    left:             -200px;
    width:            400px;
    height:           200px;
    z-index:          999;

    text-align:       center;
    padding:          10px;

    background:       $color1;
    @include          box-shadow(
        rgba(0, 0, 0, 0.2) 0 2px 6px 0,
        rgba(0, 0, 0, 0.3) 0 25px 50px 0
      );
    border:           2px $color2 solid;
    @include          border-radius(5px);
  }
}

.modal__text{
  display:        block;
  width:          380px;
  height:         150px;
}



/*
    Misc
*/
.line:before,
.line:after {
  content:  "";
  display:  table;
}

.line:after {
  clear:    both;
}

.line {
  *zoom:    1;
}

.template{
  display:  none;
}


@import "timeline/timeline.scss";
@import "print.scss";

