@import "global.scss";
@import "compass/css3";

a{
  color:            $color2;
  &:visited{
    color:          shade($color2, 30);
  }
}

.page{
  margin:           0;
  padding:          0;
  font-family:      "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image: url('../images/subtle_dots.png');
}


.container {
  width:            $container-width;
  margin:           0 auto;
  padding:          0 20px;
}

.control-panel-container{
  position:         fixed;
  top:              0px;
  left:             50%;
  z-index:          100;
}

.control-panel{
  position:         absolute;
  width:            600px;
  margin-left:      -300px;

  text-align:       center;

  background:       rgba(0, 0, 0, 0.1);
  @include          box-shadow(
      rgba(0, 0, 0, 0.2) 0 2px 6px 0,
      rgba(0, 0, 0, 0.15) 0 2px 10px 0
    );
  border:           1px $color1 solid;
  border-width:     0 1px 1px 1px;
  @include          border-radius(0 0 5px 5px);
}


.line:before,
.line:after {
  content:  "";
  display:  table;
}

.line:after {
  clear:    both;
}

.line {
  *zoom:    1;
}

.template{
  display:  none;
}


@import "timeline/timeline.scss";
@import "print.scss";

