@import "global.scss";


.timeline{
  background:         url(../images/spine.png) top repeat-y;
  list-style:         none;
  padding:            0;
  margin:             0;
  position:           relative;

  /* Spine */
  &__spine-container{
    position:             absolute;
    left:                 ($container-width - $spine-width)/2;
    width:                $spine-width;
    height:               100%;
    z-index:              1;
  }

  &__spine{
    display:              block;
    height:               100%;
  }

}


/*
    EVENT BLOCK
*/
.event{
  width:            ($container-width - $spine-width)/2;
  margin-bottom:    15px;
  position:         relative;
  z-index:          2;

  &_position_left{
    float:            left;
    clear:            left;
  }

  &_position_right{
    float:            right;
    clear:            right;

    & + .event{
      @extend .line:after;
    }
  }

  &_position_center{
    clear:                both;
    width:                auto;
    float:                none;
  }


  /*
      Pointer
  */
  &__pointer{
    background:       url(../images/icons-4.png) -41px -28px no-repeat;
    width:            19px;
    height:           15px;
    position:         absolute;
    right:            -18px;
    top:              20px;
  }

  &_position_left + &_position_right > &__pointer{
    top:  40px;
  }
  &_position_right + & > &__pointer{
    top:  40px;
  }

  &_position_center{
    .event__pointer{
      background-image:     url(../images/icons-4.png);
      background-position:  -25px -28px;
      height:               21px;
      width:                15px;
      left:                 50%;
      top:                  -20px !important;
      margin-left:          -7px;
    }
  }

  &_position_right{
    .event__pointer{
      left:                 -18px;
      right:                auto;
      background-position:  -61px -28px;
    }
  }
}

.event-data{
  background:         #fff;
  padding:            5px;
  border:             1px #C4CDE0 solid;
  border-radius:      3px;
}




